{% block head %}
<script>
	var dojoConfig={
		async: true,
		packages: [{
			name: "kb",
			location: "/static/js/kb"
		}]
	};
</script>
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/chat_app.js') }}"></script>
{% endblock %}

{% block body %}
<input type="hidden" name="user_id" id="user_id" value="{{ request.cookies.get("session") }}" />
<div id="chat_wrapper">
  <div class="wrapper col-md-12" >
    <div class="" id="chatters" tabindex="0" style="width:15%; float:right">
    </div>
    <div class="chat_log" id="chat_log" tabindex="0" class="col-md-10"style="overflow-y:scroll;width:85%">
    </div>
    <div class="">
      <textarea class="form-control chat_to_send" id="chat_to_send" rows="3" style="float:left; width:85%"></textarea>
      <button class="btn btn-primary" style="width:15%; height:90px;" id="send_button">Send</button>
    </div>
  </div>
</div>
{% endblock %}
