<!doctype html>
<html>
  <head>
    <title>Wisewolf</title>
	<script>
	// for IE11 support.
		if(document.baseURI== null){
			document.baseURI= window.location.href;
		}
	</script>
	<script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_with_boot.css') }}" />
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />-->
<!--    <link rel="stylesheet" type="text/css" href="http://wisewolf.herokuapp.com/static/style.css" />-->
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
	<script>
		var dojoConfig={
			async: true,
			packages: [{
				name: "kb",
				location: "/static/js/kb"
			}]
		};
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index_layout.js') }}"></script>
   {% block head %}{% endblock %}
  </head>
  <body id="body" role="document">
    <div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wisewolf</a>
        </div>
	    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/room_search">Search Room</a></li>
			<li><a href="#" id="a_newchat">Chatting</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
{% if not session.signed_in %}
            <li><a href="{{ url_for('signin') }}">Signin</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
{% else %}
            <li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    {{ session.user }}
			    <b class="caret"></b>
			  </a>
                <ul class="dropdown-menu">
                  <li><a>Stat</a></li>
                </ul>
			</li>
            <li><a href="{{ url_for('signout') }}">Signout</a></li>
{% endif %}
          </ul>
		</div>
      </div>
    </div>
<!--
	<a href="/">
      <div class="subhead title">
        <span class="title">WiseWolf</span>
      </div>
    </a>
-->
    <div class="div_main" role="main">
	  <div class= "col-md-12 max_height">
        <div id="body_content">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </body>
</html>
