{% extends "index_layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/room_search.js') }}"></script>
{% endblock %}

{% block body %}
<div class="col-md-12">
  <h2>Browse Room</h2>
  <table class="table">
    <tr>
	  <td class="col-xs-2">
	    Search By:
	  </td>
	  <td>
	    <label class="radio-inline">
		  <input type="radio" name="search_by" class="radio_search_mode" value="title" id="radio_search_title" checked>Title</input>
		</label>
		<label class="radio-inline">
		  <input type="radio" name="search_by" class="radio_search_mode" value="tag" id="radio_search_tag">Tag</input>
		</label>
	  </td>
	</tr>
	<tr>
	  <td class="col-xs-2">
	    Order By:
	  </td>
	  <td>
	    <label class="radio-inline">
		  <input type="radio" name="order_by" class="radio_search_mode" value="time" id="radio_order_time" checked>Time</input>
		</label>
		<label class="radio-inline">
		  <input type="radio" name="order_by" class="radio_search_mode" value="vote" id="radio_order_vote" disabled>Vote</input>
		</label>
	  </td>
	</tr>
	<tr>
	  <td colspan="2">
	    <div class="input-group col-md-3 col-sm-4 col-xs-6">
          <input id="input_room_search" class="form-control" placeholder="Enter keyword"></input>
		  <span class="input-group-btn">
		    <button id="button_room_search" type="button" class="btn btn-default">Search</button>
		  </span>
		</div>
	  </td>
    </tr>
  </table>
</div>
<div class="col-xs-8" id="div_room_list">
  <table class="table table-hover table_room_list" id="table_room_list">
    <thead>
	  <tr>
	    <th class="text-center col-xs-1">
		  Mark
		</th>
	    <th class="col-xs-10">
		  Title
	    </th>
		<th class="text-center col-xs-1">
		  Participants
		</th>
	  </tr>
	</thead>
    <tbody id="tbody_room_list">
	</tbody>
    <tbody id="tbody_get_more_room">
	  <tr>
	    <td colspan="3" style="text-align:center" id="td_get_more_room" class="clickable">
		 Get More Room...
		</td>
	  </tr>
	</tbody>
	<tfoot>
	  <tr>
	    <td colspan="3">
	      <div class="progress progress-striped active" id="room_load_progress" style="visibility:hidden; margin-bottom:0px">
            <div class="progress-bar" style="width:100%">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
	  </tr>
	</tfoot>
  </table>
</div>
<div class="col-xs-4" style="padding:0px" id="div_room_info_wrapper">
  <div class="room_info_sidebar col-xs-4">
    <h2>Room Info</h2>
    <div class="" id="div_room_info">
      <table class="table">
	    <thead>
	      <tr>
	        <td class="col-xs-1"></td>
		    <td ></td>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Title:</td>
		    <td id="td_info_title"></td>
		  </tr>
		  <tr>
		    <td>Kind:</td>
		    <td id="td_info_kind"></td>
          </tr>
		  <tr>
		    <td>Tags:</td>
		    <td id="td_info_tags"><div id="div_info_tags" class="info_tags"></div></td>
          </tr>
		  <tr>
		    <td colspan="2"><a class="col-xs-12 btn btn-lg btn-outline" id="a_enter_room" href="" style="display:none;">Join</a></td>
		  </tr>
	    </tbody>
    </table>
    </div>
    <div class="progress progress-striped active" style="margin-top:50px; display:none;" id="room_info_progress">
      <div class="progress-bar" style="width:100%">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
