{% extends "index_layout.html" %}
{% block body %}
<div>
<h2>Login</h2>
<div class="flash">
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>
<form action="{{ url_for('signup') }}" method=post>
  <div class="form-group col-md-6">
    <dl>
      <dt>Username:
      <dd><input class="form-control" type= text name= username>
      <dt>Password:
      <dd><input class="form-control" type= password name= password >
      <dt>E-mail:
      <dd><input class="form-control" type= text name= email>
      <p>
        <dd><button class="btn btn-primary" type="submit" >Sign in</button>
	  </p>
    </dl>
  </div>
</form>
</div>
{% endblock %}
