{% extends "index_layout.html" %}
{% block body %}
<div>
<h2>Holo</h2>
<p>
  &nbsp;Holo is a wolf harvest deity originally from a place in the north known as Yoitsu, which draws parallels to the legendary land of Hyperborea.
</p>
<p>
  &nbsp;She refers to herself as the "Holo The Wise Wolf". She is typically very haughty and self-sufficient, though due to her isolation for hundreds of years in Pasloe, she gradually feels very lonely, and sometimes shows a more fragile side of herself.
</p>
<p>
  &nbsp;She is fond of delicious food and alcohol, but especially loves apples. She takes pride in her tail and takes special care of it, constantly combing and maintaining it.
</p>
<!--<img class="main_holo" src="http://clug.kr/~elwlwlwk/holo.png" />-->
</div>
<iframe src="e-hentai.org" width="100%" />
{% endblock %}
