<form method="post" action="/chatting/new">
  <div class="form-group" id="room_title">
    <span>Title:</span>
	<input type="text" class="form-control" placeholder="Enter Title" name="title" id="input_title" />
  </div>
  <div class="form-group" id="room_kind">
    <span>Room:</span>
    <select class="form-control" name="room_kind" id="select_room_kind">
	  <option value="generic">Generic</option>
	  <option value="versus">Versus</option>
	</select>
  </div>
  <div class="form-group" id="room_meta">
  	<span id="span_num_part">Number of Participants:</span>
	<input type="text" class="form-control" placeholder="Empty for unlimit" name="participants" id="input_participants" />
  </div>
  <div class="right_align">
    <button type="submit" id="btn_confirm" class="btn btn-primary">Confirm</button>
    <button type="button" id="btn_cancel" class="btn btn-danger">Cancel</button>
  </div>
</form>
