<form method="post" action="/chatting/new">
  <div class="form-group">
    Title:
	<input type="text" class="form-control" placeholder="Enter Title" name="title" id="input_title" />
  </div>
  <div class="form-group">
    Room:
     <select class="form-control" name="room_kind">
	  <option value="generic">Generic</option>
	  <option value="versus">Versus</option>
	</select>
  </div>
  <div class="right_align">
    <button type="submit" id="btn_confirm" class="btn btn-primary">Confirm</button>
    <button type="button" id="btn_cancel" class="btn btn-danger">Cancel</button>
  </div>
</form>
