a:link, a:visited, a:hover, a:active {
	text-decoration:none;
	color: #694634;
}
div.title{
	width: 100%;
	background:linear-gradient(#44211e,#694634);
	border-radius:5px;
	color: #ffffff;
	font-size: 200%;
	font-weight: bold;
	font-family: sans-serif;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	text-shadow:2px 2px 0px rgba(0,0,0,0.25);
	box-shadow:0px 0px 2px rgba(0,0,0,0.9);
}
span.title{
	margin: 15px;
}
div.main{
//	background-color:#54312e;
	width:80%;
	height:100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
	border-radius: 5px;
	padding: 5px;
	padding-top: 40px;
	margin: 0px;
}
ul, ol{
	list-style:none outside none;
}
html{
	width:90%;
	padding: 0px;
	margin: 0px auto;
}
body{
	width: 100%;
	font-family: Arial, sans-serif;
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
}
div{
	padding: 0px;
	margin-top: 10px;
}
div.right_menu{
	//position: fixed;
	float: right;
	width: 18%;
	padding-top: 10px;
	margin-left: 1%;
	margin-top: 150px;
	background:#593B29;
	border-radius:5px;
}
h2, ul{
	word-break: break-all;
	padding: 0px;
	margin: 0px;
	font-size: 110%;
	font-family: sans-serif;
	font-weight: bold;
	color:#694634;
}
b{
	margin: 0px;
	padding: 0px;
}
div.content{
	width: 100%;
	min-height: 480px;
	background:linear-gradient(to right, rgba(255,255,255,1),rgba(255,255,255,0.5),rgba(255,255,255,0.25)), url('http://clug.kr/~elwlwlwk/holo_resize.png') repeat-x right bottom;
	border-radius: 5px;
	margin: 0px;
}
div.img{
	margin: 0px auto;
	width: 100%;
}

ul{
	font-size: 100%;
	padding: 0%;
}
footer{
	text-align: center;
	margin: auto;
	margin-top: 30px;
	color: rgb(102,102,102);
	font-weight: bold;
	font-size: 80%;
}
div.top_navi{
	position: fixed;
	right: 0px;
	left: 0px;
	background-image:linear-gradient(to bottom,rgb(34,34,34),rgb(17,17,17));
	height: 30px;
	margin: 0px;
	padding: 0px;
}
div.wrap{
	margin: 4px auto;
	width: 80%;
	height: 18px;
}
ul.top_navi{
	margin: 0px;
	padding: 0px;
}
ul.top_navi > li{
	color: rgb(255,255,255);
	padding: 0px 10px 0px 10px;
	float: left;
}
ul.top_navi > li > a{
	color: rgb(100,100,100);
}
ul.top_navi > li > a:hover{
	color: rgb(250,250,250);
}
::selection{
	background:rgba(64,29,26,0.5);
}
::-moz-selection{
	background:rgba(64,29,26,0.5);
}
ul.right_nav, h2.right_nav{
	color: #ddd;
	margin: 0px;
}
h2.right_nav{
	padding: 10px;
}
ul.right_nav > li{
	padding: 10px;
	border-top: 1px solid rgba(255,255,255,0.25);
	background: rgba(255,255,255,0.1);
}
ul.right_nav > li > a{
	color: #ddd;
}
