<!doctype html>
<html>
  <head>
    <title>Wisewolf</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="main">
    <div class="title">
      <span class="title">WiseWolf</span>
    </div>
    <div class="right_menu">
      <h2 class="nav">Navigation</h2>
      <ul>
        <li>Profile</li>
      </ul>
    </div>
    <div class="content"><img class="main_holo" src="http://clug.kr/~elwlwlwk/holo.png" /></div>
  </div>
  <footer>Creative by Ryan Rafe Lee</footer>
  </body>
</html>
