<!doctype html>
<html>
  <head>
    <title>Wisewolf</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<!--    <link rel="stylesheet" type="text/css" href="http://wisewolf.herokuapp.com/static/style.css" />-->
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="top_navi">
      <div class="wrap">
        <ul class="top_navi">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="/profile">Profile</a></li>
	    </ul>
        <ul class="top_navi signin">
{% if not session.signed_in %}
		  <li><a href="{{ url_for('signin') }}">Signin</a></li>
		  <li><a href="{{ url_for('signup') }}">Signup</a></li>
{% else %}
		  <li>{{ session.user }}</li>
          <li><a href="{{ url_for('signout') }}">Signout</a></li>
{% endif %}
		</ul>
      </div>
    </div>
	<div class="right_menu">
      <h2 class="right_nav">Navigation</h2>
      <ul class="right_nav">
		<li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="main">
      <a href="/">
        <div class="title">
          <span class="title">WiseWolf</span>
        </div>
      </a>
      <div class="content">
        {% block body %}{% endblock %}
      </div>
    </div>
    <footer>Creative by Ryan Rafe Lee</footer>
  </body>
</html>
